<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cartProducts.length > 0) { %>
                <ul>
                    <% cartProducts.forEach( cartProduct => { %>
                        <li>
                            <h1><%= cartProduct.product.title %></h1>
                            <h2><%= cartProduct.qty %> x $<%= cartProduct.product.price %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= cartProduct.product._id %>">
                                <button type="submit" class="btn">Remove</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
            <%} else { %>
                <h1>Your Cart is Empty</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>